<div class="l-grid">

    <div class="m-filter">
        <div class="l-full">

            <form action="">
                <ul class="m-filter--items">
                    <li><div>vyber</div></li>
                    <li>
                        <select name="timepass">
                            {% for opt in 1..20 %}
                                <option value="val{{ opt }}">Option {{ opt }}</option>
                            {% endfor %}
                        </select>
                    </li>
                    <li>
                        <select name="timepass">
                            {% for opt in 1..20 %}
                                <option value="val{{ opt }}">Option {{ opt }}</option>
                            {% endfor %}
                        </select>
                    </li>
                    <li>
                        <select name="timepass" >
                            {% for opt in 1..20 %}
                                <option value="val{{ opt }}">Option {{ opt }}</option>
                            {% endfor %}
                        </select>
                    </li>
                    <li>
                        <select name="timepass" >
                            {% for opt in 1..20 %}
                                <option value="val{{ opt }}">Option {{ opt }}</option>
                            {% endfor %}
                        </select>
                    </li>
                    <li>
                        <select name="timepass" >
                            {% for opt in 1..20 %}
                                <option value="val{{ opt }}">Option {{ opt }}</option>
                            {% endfor %}
                        </select>
                    </li>
                </ul>
            </form>




        </div>
    </div>

</div>
